<template name="HeaderModals">
<!-- Modal -->
<div class="modal fade header-modals" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <div class="row">
        	<div class="col-xs-6 btn-primary"  id="waiting">
        	<i class="glyphicon glyphicon-bell"></i><br>
        		Waiting List
        	</div>
        	<div class="col-xs-6 btn-primary" id="home">
        	<i class="glyphicon glyphicon-home"></i><br>
        		Home
        	</div>
        </div>
        <div class="row">
        	<div class="col-xs-6 btn-primary" id="leaderboard">
        	<i class="glyphicon glyphicon-king"></i><br>
        		Leader Board
        	</div>
        	<div class="col-xs-6 btn-primary" id="profile">
        	<i class="glyphicon glyphicon-user"></i><br>
        		Profile
        	</div>
        </div>
        <div class="row">
        	<div class="col-xs-12 btn-danger" id="logout">
        		<i class="glyphicon glyphicon-off"></i><br>Logout
        	</div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>