<template name="ContentNavigation">

<div class="row content-navigation text-center">
			
			<div class="col-xs-4 col-xs-offset-2">
				<a href="/request">
					<i class="glyphicon glyphicon-share icon-navigation">
					</i><br>
					Request <br>
					<hr class="on">
				</a>
			</div>
			<div class="col-xs-4">
				<a href="/challenge">
					<i class="glyphicon glyphicon-share icon-navigation">
						
					</i><br>
					Challenge <br>
					<hr class="off">
				</a>
			</div>
		</div> 
</template>