<template name="MiniProfile">
		<div class="mini-profile row">
						<div class="media">
							<div class="media-left">
								<a href="#">
									<img class="media-object img-circle img-media" style="width: 64px; height: 64px;" src="../../{{photo}}" alt="...">
								</a>
							</div>
							<div class="media-body">
								<b class="media-heading">{{name}}</b> <br>
								Level {{level}} <br>
								{{request}} Request / {{give}} Give
								
							</div>
			</div>
		</div>

</template>